<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	
	<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

	<title>アニマルショップ　ドリーム</title>
	</head>
	
	
	<body>
	
		<header th:insert="fragments/page_header::pageHeader"></header>
	
		<main>
		
			<div class="container">
				<form name="searchForm" action="/sugar/searchItem">
					カテゴリ
					<select name="category" id="category">
						<option value="0"></option>
						<option
							th:each="category: ${categories}"
							th:selected="${selected == category.id}"
							th:value="${category.id}"
							th:text="${category.categoryName}">
						</option>
					</select>
					商品名（部分一致）
					<input type="text" name="keywords" th:value="${keywords}" />
					<button type="submit">検索</button>
				</form>
				
				<div class="noData" th:if="${products == null || products.size() == 0}">
					<p class="info">検索結果はありません。</p>
				</div>
				
				<table class="top"  th:if="${products != null && products.size() > 0}">
					<tr>
						<th>画像</th><th>商品名</th><th>価格(円)</th><th>個数</th><th>カート</th>
					</tr>
					<tr th:each="item: ${products}">
						<td class="image">
							<a href="/sugar/product/" th:href="@{/sugar/product/{id}(id=${item.id})}">
								<img class="itemImage" th:src="@{{imagePath} (imagePath=${item.imageFullPath}) }" />
							</a>
						</td>
						<td>
							<a href="/sugar/product/" th:href="@{/sugar/product/{id}(id=${item.id})}">
								<label th:text="${item.productName}" ></label>
							</a>
						</td>
						<td class="number" th:text="${item.price}" />
						<td class="componentTd">
							<input type="number"  id="productCount" class="count number" name="productCount" value="0" min="0" step="1"/>
							<input type="hidden" id="productId" name="productId" th:value="${item.id}"/>
						</td>
						<td class="componentTd"><button class="cartButton">追加</button></td>
					</tr>
				</table>
			</div>
			
		</main>
		
		<script>
		$(() => {
			$('.cartButton').on('click', addCart);
		});
		
		/**
		 * カートに追加処理を行う。
		* @param 追加ボタンが押下された際のevent
			 * @returns なし
			 */
		let addCart = (event) => {
			let tr = $(event.target).parent().parent();
			let productId = $(tr).find('#productId').val();
			let productCount = $(tr).find('#productCount').val();
			
			if(productCount == 0){
				alert("個数が0です。");
				return;
			}
			location.replace(`/sugar/cart/add?productId=${productId}&productCount=${productCount}`);
		}
		
		</script>
	
	</body>
	
</html>